{% extends 'base.html' %}
{% load humanize %}

{% block contenido %}


<body onload="loadChart();">

    </div>
    <div class="container" style="width: 75%;">
        <h2>Top Cases by Country Chart</h2>
        <div>
            <canvas id="total-cases"></canvas>
        </div>
    </div>
    {% endblock contenido %}

    {% block js %}
    {% load static %}
    <script src="{% static '/getapiinfo/js/app.js' %}"></script>
    {% endblock js %}
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</div>
</body>
</html>